@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微軟正黑體";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

section {
  margin-bottom: 2rem !important;
}

/* 我是多行註解，會被編譯出去 */
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --waring: #ffc107;
  --danger: #dc3545;
  --white: #ffffff;
}

/* 1. Variables (變數) */
h1 {
  background: #007bff -webkit-gradient(linear, left bottom, left top, from(#04004a), color-stop(54%, #000cc6), to(#0017ff));
  background: #007bff linear-gradient(0deg, #04004a 0%, #000cc6 54%, #0017ff 100%);
  color: #ffffff;
  border: 5px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/* 2. 嵌套(Nested) */
#section02 .menu {
  margin-top: 1rem;
  font-size: 0;
}

#section02 .menu li {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 1rem;
}

#section02 .menu li a {
  display: block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

#section02 .menu li a:hover {
  color: yellow;
  background: #aaa;
}

#section02 .menu li + li {
  border-left: 1px solid #fff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  font-family: "微軟正黑體";
  font-size: 1rem;
  font-weight: bolder;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

#exercise .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#exercise .container .col {
  width: 33%;
  height: auto;
  border: 1px solid #999;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

#exercise .container .col:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#exercise .container .col h2 {
  text-align: center;
}

#exercise .container .col h2 a {
  color: black;
  text-decoration: none;
}

#exercise .container .col h2 a:hover {
  color: red;
}

#exercise .container p {
  font-size: 0.8rem;
}

#exercise .container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 3. Extend (繼承) % */
.extend {
  width: 50px;
  height: 50px;
  float: left;
}

.box1, .box2, .box3 {
  width: 50px;
  height: 50px;
  float: left;
}

#extend {
  margin-top: 1rem;
  overflow: auto;
}

/* 繼承後的樣式會被群組樣式放在一起 */
.box1 {
  background: red;
}

.box2 {
  background: green;
}

.box3 {
  background: blue;
}

/* 4. Sass 的數學計算 */
.box4 {
  background: #000;
  /* 加法 */
  width: 100px;
  height: 100px;
  /* 減法 */
  width: 50px;
  height: 50px;
  /* 乘法 */
  width: 100px;
  height: 100px;
  /* 除法，須注意使用括號 */
  width: 50px;
  /* 除法用變數，括號可省略 */
  /* 當分子、分母都有單位，單位會被消除 */
  height: 50;
  /* 餘數 */
  margin-top: 20px;
}

/* 5. Function(函式) */
#section05 .container p {
  font-size: 34px;
}

#section05 .container p {
  font-size: 18px;
  line-height: 26px;
}

#section05 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section05 .row .col {
  border: 1px solid #333;
  padding: 1%;
  margin: 1% 0;
  width: 33.33333%;
  background: #e6e6e6;
  color: #4d4d4d;
}

/* 6. Mixins(混合) */
.btn {
  display: inline-block;
  color: #fff;
  padding: 0.3rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-decoration: none;
  margin: 0 0.2rem;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
}

.btn-success {
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
}

.btn-black {
  background-color: #000;
}

.btn-black:hover {
  background-color: #1a1a1a;
}

.box-shadow2 {
  -webkit-box-shadow: 0 0 10px blue, 0 0 20px red;
          box-shadow: 0 0 10px blue, 0 0 20px red;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b1, .b2, .b3, .b4, .b5 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.b1 {
  background: #5c61cf;
}

.b2 {
  background: #8e30a3;
}

.b3 {
  background: #abc741;
}

.b4 {
  background: #342f2c;
}

.b5 {
  background: #174f1d;
}

/* 7. 使用 @mixin + @content 來設計 RWD */
#section07 .container {
  width: 100%;
}

#section07 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section07 .col {
  width: 100%;
  padding: 15px;
  border: 1px solid #333;
}

@media (min-width: 576px) {
  #section07 .container {
    width: 75%;
  }
  #section07 .col {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #section07 .col {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  #section07 .col {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  #section07 .col {
    width: 20%;
  }
}

/* 資料型態 */
.list {
  width: 100px;
  width: 200px;
  width: 300px;
  background-color: red;
  background-color: green;
  background-color: blue;
}

.index {
  line-height: 1;
  line-height: 2;
  line-height: 3;
  z-index: 1;
  z-index: 2;
  z-index: 3;
}

.length {
  z-index: 3;
}

/* 使用 @each 迭代 list 取出值 */
.bo-color-red {
  background-color: red;
}

.bo-color-blue {
  background-color: blue;
}

.bo-color-green {
  background-color: green;
}

/* Map 是 sass 物件，就像 js 的物件，有key/value存值方式 */
/* 對 map 物件去取出 key/value */
.color1 {
  color: "red";
}

.color2 {
  color: "blue";
}

.color3 {
  color: "green";
}

.btn-default {
  width: 100px;
  height: 100px;
}

.btn-box1 {
  width: 200px;
  height: 200px;
}

.btn-box2 {
  width: 300px;
  height: 300px;
}
